{% extends 'blog_index.html' %}
{% block content %}
    <div class="col-md-2"></div>
        <div class="col-md-8">
        <h2 class="hidden-xs hidden-sm hidden-md">{{ category_name.name }}:分类如下</h2>
            <nav class="navbar navbar-expand-md hidden-xs hidden-sm hidden-md bg-light ">
                <ul class="nav">
                    {% for list in category_list %}
                    <li class="nav-item">
                        <a class="nav-link lead" href="{% url 'Blog:detail' list.id %}">{{ list.title }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </nav>
        </div>

{% endblock content %}
{% block category %}
{% endblock category %}